{% extends 'vagas/base.html' %}

{% block content %}
<div class="container my-5">
    <h1 class="text-center text-primary">Contato</h1>
    <p class="text-center">Se você tiver dúvidas, sugestões ou precisar de suporte, entre em contato conosco.</p>

    <form class="mt-4" action="#" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="nome" class="form-label">Nome</label>
            <input type="text" class="form-control" id="nome" placeholder="Seu nome" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Seu email" required>
        </div>
        <div class="mb-3">
            <label for="mensagem" class="form-label">Mensagem</label>
            <textarea class="form-control" id="mensagem" rows="5" placeholder="Escreva sua mensagem aqui" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>
{% endblock %}
