{% extends 'vagas/base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Editar Perfil</h1>
    <div class="card shadow bg-dark text-light">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="mb-3">
                        {{ field.label_tag }}
                        {{ field }}
                        {% for error in field.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Salvar Alterações</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
