{% extends 'vagas/base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Candidatos para a Vaga: {{ vaga.titulo }}</h1>

    {% if candidaturas %}
        <ul class="list-group">
            {% for candidatura in candidaturas %}
                <li class="list-group-item">
                    <strong>Nome:</strong> {{ candidatura.candidato.username }}<br>
                    <strong>Email:</strong> {{ candidatura.candidato.email }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="text-center">Nenhum candidato se inscreveu para esta vaga.</p>
    {% endif %}
</div>
{% endblock %}

