{% extends "vagas/base.html" %}



{% block content %}
<div class="login-container">
    <h2 class="text-center">Login</h2>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_username" class="form-label">Usuário</label>
            <input type="text" name="username" id="id_username" class="form-control" placeholder="Digite seu usuário" required>
        </div>
        <div class="mb-3">
            <label for="id_password" class="form-label">Senha</label>
            <input type="password" name="password" id="id_password" class="form-control" placeholder="Digite sua senha" required>
        </div>
        <button type="submit" class="btn btn-primary w-100">Entrar</button>
    </form>
    <div class="mt-4 text-center">
        <p>Não tem uma conta? <a href="{% url 'register' %}" class="link-warning">Registrar-se</a></p>
    </div>
</div>
{% endblock %}







