{% extends 'vagas/base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Login</h2>
    <form method="post" class="mt-4 mx-auto" style="max-width: 400px;">
        {% csrf_token %}
        <div class="mb-3">
            <label for="username" class="form-label">Usuário</label>
            <input type="text" name="username" id="username" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Senha</label>
            <input type="password" name="password" id="password" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary w-100">Entrar</button>
    </form>
</div>
{% endblock %}
