{% extends 'vagas/base.html' %}

{% block content %}
<section class="bg-black text-gold py-5">
    <div class="container">
        <h1 class="text-center fw-bold mb-4">Termos de Uso</h1>
        <p class="fs-5">
            Bem-vindo aos Termos de Uso do <span class="fw-bold">HefestoTec</span>. Ao utilizar nossa plataforma, você concorda com as condições descritas abaixo:
        </p>
        <ul class="fs-5">
            <li>Respeitar todas as normas e regulamentos aplicáveis.</li>
            <li>Fornecer informações verdadeiras ao criar sua conta e se candidatar às vagas.</li>
            <li>Não utilizar a plataforma para fins ilegais ou prejudiciais.</li>
            <li>Proteger as informações de login e manter a confidencialidade da sua conta.</li>
        </ul>
        <p class="fs-5 mt-4">
            Para mais detalhes, entre em contato conosco por meio da nossa <a href="{% url 'contato' %}" class="text-gold">página de contato</a>.
        </p>
    </div>
</section>
{% endblock %}

