{% extends 'vagas/base.html' %}

{% block content %}
<div class="container mt-5 text-light">
    <h1 class="text-center mb-4">Termos de Uso</h1>
    <p>Bem-vindo ao HefestoTec. Ao utilizar nossos serviços, você concorda com os seguintes termos de uso:</p>
    <ul>
        <li>Você é responsável por fornecer informações verdadeiras e precisas em seu perfil.</li>
        <li>É proibido o uso da plataforma para fins ilícitos ou prejudiciais.</li>
        <li>O HefestoTec não garante contratação ou retorno sobre candidaturas enviadas.</li>
        <li>A plataforma pode alterar seus termos de uso a qualquer momento, com aviso prévio aos usuários.</li>
    </ul>
    <p>Se tiver dúvidas sobre nossos termos, entre em contato pelo email <a href="mailto:suporte@hefestotec.com" class="text-warning">suporte@hefestotec.com</a>.</p>
</div>
{% endblock %}

